
/** OGOLNA REGULA **/

* {box-sizing: border-box;}

/** JAKO TLO OBRAZEK **/

body
	{	background-color: black;
		background-image: url("chmury.jpg");
		background-repeat: no-repeat;
		background-position: center;
		font-family: helvetica, sans-serif;
	}
	
h2
	{color: white;
		text-align: center;}

address 
	{
		margin: 55px;
		clear: left;
		float: left;
		color: black; 
		text-align: left;
	}

a
	{
		font-size: 14px;
		color: black;
	}

/** MEDIA QUERIES **/

@media (max-width: 950px) and (min-width: 550px)
{
	a
		{
			font-size: 10px;
			color: red;
		}
}

/** FLOATING **/

#opis
	{	float: right;
		background-color: grey;
		text-align: center;
		color: black;
		padding: 10px 10px 10px 10px;
		border: 3px solid maroon;
		margin: 55px;
		width: 25%;
		}

#menu
	{
		position: relative;
		top: 50px;
		left: 50px;
		background-color: grey;
		color: black;
		text-align: center;
		padding: 10px;
		border: 3px solid yellow;
		margin: 55px;
		width: 25%;
	}

#wybor
	{	background-color: grey;
		text-align: center;
		color: black;
		list-style-type: none;
		padding: 10px 10px 10px 10px;
		border: 3px solid white;
		margin: 55px;
		width: 35%;}

a:hover, a:active
	{background-color: red;
		color: white;}

#zaint, #kob, #uzywki
	{
		float: left;
		background-color: grey;
		text-align: left;
		color: white;
		list-style-type: none;
		padding: 5px 5px 5px 5px;
		border: 2px solid blue;
		margin: 55px;
		width: 25%;
		}

#cars
	{ 
		clear: both;
		float: left;
		background-color: grey;
		text-align: left;
		color: white;
		list-style-type: none;
		padding: 5px 5px 5px 5px;
		border: 2px solid blue;
		margin: 55px;
		width: 25%;
	 }

#fajki
	{font-style: italic;}

