h2 {
			color: red;
			font-size: 36px;
			text-align: center;
	}

	h3
		{
				color: blue;
				font-size: 26px;
				text-align: center;
		}

	ol
		{
				color: yellow;
				font-size: 20px;
				text-align: left;
		}

	div
		{
				color: blue;
				background-color: gray;
				font-size: 25px;
				text-align: left;
		}

	p
		{
				color: purple;
				font-size: 10px;
				text-align: center;
				width: 600px
		}

	.sodom
		{
				color: green;
				font-size: 15px;
				text-align: left;
		}

	a > em
		{
				color: green;
				font-size: 10px;
		}

	li
		{
				list-style: none;
		}

	a:link, a:visited
		{
			text-decoration: none;
			background-color: black;
			color: white;
			display: block;
			width: 200px;
			text-align: center;
			margin-bottom: 2px;
		}

	a:hover, a:active
		{
			background-color: red;
		}
