
<p>{{ $ctrl.tytul }}</p>
<ul class="list-unstyled">
<li ng-repeat="pozycja in $ctrl.rzeczy">

<div class="col-md-6" id="dysko">
{{ pozycja.nazwa + " // " + pozycja.ilosc }}
</div>

<div class="col-md-6" id="dysko">
<button ng-click="$ctrl.remove($index);">WYRZUC Z LISTY</button>
</div>

</li>
</ul>

<button class="guziczek" ng-click="$ctrl.zamow();">ZAMÓW MUZĘ</button>

<div class="zamowienie container text-center">
TOWAR ZAMÓWIONO - ZOSTANIE WYSŁANY<br>
W CIĄGU 24 GODZIN<br>
<img src="pics/thumb.png" alt="thumb up"><br>
<div id="kupione" class="container">
<h2>ZAMÓWIONE POZYCJE</h2>
<ol>
<li ng-repeat="pozycja in $ctrl.ListaZamowienia">
{{ pozycja. nazwa }}
</li>
KOSZT CAŁKOWITY {{ $ctrl.cena + " PLN" }}
</ol>

</div>
</div>

