<div class="container-fluid about-template">
<div class="container text-center" id="chunk-content">

<div class="container black-mamba" ng-show="k.mamba">
<img class="nutka" src="sources/media/icons/notes.png" alt="nuta" ng-show="k.letThereBeMusic">
<span class="slowo-panskiectc" ng-show="k.alla">... I'm all about that bass, 'bout that bass, no treble ...</span>
<img class="nutka" src="sources/media/icons/notes.png" alt="nuta" ng-show="k.letThereBeMusic">
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12 fotopad" ng-show="k.fotopad">
		<div>
			<img src="sources/media/pics/Monika.jpg" class="img-rounded img-responsive" alt="Monika">
		</div>
		</div>
		<div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12 tekstpad kontener3">
		<div class="slowo-panskie" id="skryba" ng-show="k.soYoSpeak">
		{{ k.writings }}

		<img class="domek" ng-show="k.domek" src="sources/media/pics/house.jpg" alt="domek">

		</div>
		</div>
	</div>
	<div class="row">
	<div class="col-md-5 tekstpad kontener1">
	<div class="slowo-panskie" ng-show="k.soYoSpeak">
	Jestem kobietą, która wiele umie. <br>
	Zbudowałam pałac Kultury. Lubię koty i oposy
	</div>
	</div>

	<div class="col-md-5 col-md-offset-1 tekstpad kontener2">
	<div class="slowo-panskie" ng-show="k.soYoSpeak">
	Kot domowy, bury i pachnie mu spod ogona<br>
	Kot domowy składa się z samych sprzeczności.
	</div>
	</div>

</div>

</div>
</div>


<button id="ikonka1" ng-click="k.nuta(1);">

<img ng-src="{{k.soundIcon}}" alt="muzyka/bezmuzy">
</button>

<button id="ikonka2" ng-click="k.nuta(2);">
<img ng-src="{{k.soundShutUp}}" alt="w swiecie ciszy">
</button>




</div>