body
	{
		font-family: "Arial", sans-serif;
		animation: ruch 300s linear infinite alternate;
		background-image: url("../pics/dots2.png"), url("../pics/dots.png");
	}

@keyframes ruch
      {
        0% {background-position:0 0, 0 0;}
        100% {background-position:10000px 0, 7500px 0;}
      }


#header
	{ 
		background-color: #3300cc;
		opacity: 0.8;
		border: 1px solid black;
		border-radius: 10px;
		box-shadow: 0 0 20px #3f0c1f;
		margin-top:20px;
		color: white;
		font-weight: bold;
		font-size: 1.4em;
	}

#elementy
		{
			width: 75%;
			height: auto;
			padding-bottom: 4px;
			padding-top: 7px;
			margin-bottom: 15px;
			border: 3px solid #eee;
			background-color: #669999;
			opacity: 0.8;
			font-size: 0.7em;
			color: black;
		}

#spis
		{
			background-color: #00ffcc;
			opacity: 0.9;
			width: 75%;
			margin: 0 auto 15px;
			padding-left: 15px;
			border: 1px solid black;
			border-radius: 10px;
			box-shadow: 0 0 20px #3f0c1f;
			font-size: 0.9em;
		}


#ikonka
		{
			margin-top: 15px;
			margin-bottom: 15px;
		}

#stopka
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.3em;s
		font-weight: bold;
	}

#guzik
	{
		margin-top: 5px;
		margin-bottom: 9px;
	}

.guziczek
	{
		margin-top: 5px;
		margin-bottom: 9px;
		display: none;
	}

#inputs
	{
		margin-top: 5px;
		margin-bottom: 1px;
	}

#dysko
	{
		clear: right;
	}

.zamowienie
	{
		width: 72%;
		margin: 0 auto 5px;
		color: white;
		font-size: 1.2em;
		display: none;
	}

#kupione
	{

		width: 90%;
		margin: 10 auto 15px;
		padding: 10px;
		font-size: 1.1em;
		color: black;
		background-color: #ccff66;
		opacity: 0.9;
		border: 1px solid black;
		border-radius: 10px;
		box-shadow: 0 0 20px #3f0c1f;
	}

.blad
	{
		width: 50%;
		margin: 0 auto 5px;
		color: red;
		font-size: 1.3em;
		padding: 5px;
		display: none;
	}