



<div class="container" id="chunk-content">

<div class="cointainer naszolapie tekstpad" ng-show="k.hello">

<img class="img-responsive img-rounded" src="sources/media/pics/concept.jpg" alt="dragon">

<div class="quickshow" ng-show="k.primitivity">

<div class="introtext quickshow" ng-show="k.powitanie">
<div class="homepad">
<p>Dzień dobry...</p>
Witam serdecznie na mojej stronie! Czy jesteś tu po raz pierwszy?...<br>
<button class="btn btn-xs" ng-click="k.flipPage(1);"
 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.6"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7">
..tak..</button>
<button class="btn btn-xs" ng-click="k.flipPage(2);"
 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.6"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7">
..nie..</button>
</div>
</div>

<div class="introtext quickshow" ng-show="k.firsttime">
<div class="homepad">
<p>Bardzo mi miło, że tu zajrzałeś.</p>
Mam nadzieję, że moja strona będzie przyjazna dla użytkowników,<br>a tym samym, że każdy zainteresowany w łatwy i szybki sposób<br>
znajdzie na niej potrzebne informacje.<br>
Wszystkie uwagi na temat strony są dla mnie bardzo cenne.<br>
W skrócie pokażę Ci co, gdzie i jak...<br>
<button class="btn btn-xs" ng-click="k.flipPage(3);"
 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.6"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7">
ok, pokaż</button>
</div>
</div>

<div class="introtext quickshow" ng-show="k.showControls">
<div class="homepad">
<p>INSTRUKCJE</p>
<p>Obsługa dźwięku jest w prawym górnym roku strony</p>
<p>tymi ikonami:<br>
<img src="sources/media/icons/big-pause-button.png" alt="pause"> lub <img src="sources/media/icons/big-play-button.png" alt="play"><br>
wyłączasz / włączasz muzykę<br>(dźwięki strony nadal są włączone)<br></p>
<p>a tymi:<br>
<img src="sources/media/icons/big-speaker.png" alt="sound"> lub <img src="sources/media/icons/big-mute.png" alt="mute"><br>
włączasz / wyłączasz wszystkie dźwięki<br>
na stronie<p>
<button class="btn btn-xs" ng-click="k.flipPage(4);"
 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.6"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7">
jasne</button>
</div>
</div>

<div class="introtext quickshow" ng-show="k.showVarans">
<div class="homepad">
W prawym dolnym rogu strony siedzi sobie waran <img id="snejk" src="sources/media/icons/varan.png" alt="jaszczur"><br>
będzie Ci towarzyszył cały czas. Na razie tylko zieje ogniem,<br>
gdy najedziesz na niego myszką,<br>a w przyszłości ma być linkiem<br>
do strony króla polskiego Internetu, człowieka,<br>
który zrobił moją stronę, w pocie czoła i z ogromnym zaangażowaniem.<br>
<br>
Na górze strony jest oczywiście oczywista nawigacja po działach,<br>
które mam nadzieję obejrzysz.<br>
Kliknięcie w logo comdesign to powrót tutaj.<br>
<br>
I to chyba wszystko :)<br>
<button class="btn btn-xs" ng-click="k.flipPage(5);"
 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.6"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7">
Yeah!</button>
</div>
</div>


<div class="introtext quickshow" ng-show="k.showWishes">
<div class="homepad">
<p>W takim razie życzę udanego zwiedzania</p>
Buziaki! <br>
</div>
</div>


</div>

<div class="quickshow" ng-hide="k.primitivity">
<div class="introtext quickshow">
<div class="homepad">
<p>Widzę, że poznajesz moją stronę</p>
Bardzo mi miło<br>
.... może partyjka pokera? ....<br>
</div>
</div>
</div>

<!--
2f9eed
<div class="welcome">
<img src="sources/media/icons/woman-sunbathing.png" alt="bitch">...SPX!
</div>

-->

<div class="fpokjerka" ng-hide="k.primitivity">
<div class="kontener3">
<a class="offerbutton" ng-click="k.goPlayPoker(0);"
 ng-audio="sources/media/sounds/shuffling-cards.mp3" volume="0.5" 
 ng-audio-hover="sources/media/sounds/button-21.mp3" volume-hover="0.2">
<img class="img-responsive" src="sources/media/pics/deckocards.png" alt="karciochy">
</a>
</div>
<span>zagramy?</span>
</div>


</div>

<div class="col-md-offset-1 col-md-6 askmabadapoker" ng-hide="k.innocentGames">

	<div class="container kontener3" ng-hide="k.valid">
		<p>Poker <span class="kontener3" ng-hide="k.enterYourName">.......</span></p>
		<p class="kontener3" ng-hide="k.enterYourName">Życzę Ci powodzenia... Jestem w tym dobra!</p>
		<p ng-show="k.enterYourName">
		Jeśli wygram... zatrudnisz mnie przy rearanżu <br>
		swojego domu...<br>
		Jeśli przegram, cóż - zrobię to za darmo!<br>

		<br>
		Jak masz na imię?...</p><br>
		<input class="inserszyn" type="text" ng-model="k.thyName" ng-show="k.enterYourName"><br>
		<button class="btn btn-primary" ng-click="k.checkName();"  ng-show="k.enterYourName"
		 ng-audio="sources/media/sounds/vomiting.mp3" volume="0.6"
 		 ng-audio-hover="sources/media/sounds/crack.mp3" volume-hover="0.4">DALEJ</button>
	</div>

	<div class="container kontener2" ng-show="k.validation">
		<p>Witaj {{k.thyName}}</p>
		<button class="btn btn-danger" ui-sref="poker"
		  ng-audio="sources/media/sounds/scream.ogg" volume="0.3" 
 		  ng-audio-hover="sources/media/sounds/crack.mp3" volume-hover="0.4">
		ZAPRASZAM DO GRY</button>
	</div>

</div>

</div>



<button id="ikonka1" ng-click="k.nuta(1);">
<img ng-src="{{k.soundIcon}}" alt="muzyka/bezmuzy">
</button>

<button id="ikonka2" ng-click="k.nuta(2);">
<img ng-src="{{k.soundShutUp}}" alt="w swiecie ciszy">
</button>

<div id="pointwaran" ng-show="k.pointwaran">
waran...<img class="morespace" src="sources/media/icons/arrowr.png" alt="right">
</div>

<div id="pointsounds" ng-show="k.pointsounds">
dźwięk...<img class="morespace" src="sources/media/icons/arrowr.png" alt="right">
</div>

<div id="pointnavi" ng-show="k.pointnavi">
<img class="morespace" src="sources/media/icons/arrowu.png" alt="right">...nawigacja...
<img class="morespace" src="sources/media/icons/arrowu.png" alt="right">
</div>


