<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDown">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawel Banasiewicz</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
   </head>


   <div class="container">
   <div ng-controller="NarrowItDownController as n">
   <input type="text" ng-model="n.content">
   <button ng-click="n.check();">rreee</button>
   </div>

		<div id="stopka" class="container text-center">
    	&copy;  2017
  		</div>

    </div>

  		<script src="js/jquery-3.1.1.min.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script src="js/angular.min.js"></script>
  		<script src="js/skrypt.js"></script>

  	</body>
</html>